#myHeader {
    color: rgb(255, 255, 255);
    background-color: rgb(117, 117, 117);
    text-align: center;   
    padding: 50px;
}

#submit-button {
    float: right;
/* background-color: darkred; */
    font-size: large;
}

td, th{
    border: 1px solid black;
}

table {
    width: 100%;
}

#monthly-value {
    float: right 
}